[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geocacheR"]
	path = geocacheR
	url = https://github.com/alunhewinson/geocacher
